@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.storybook-icon-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-icon-button--primary {
  color: white;
  background-color: red;
}
.storybook-icon-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-icon-button--small {
  font-size: 12px;
}
.storybook-icon-button--medium {
  font-size: 14px;
}
.storybook-icon-button--large {
  font-size: 16px;
}
